body {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    font-family: 'Karla';
    background-color: hsl(206, 47%, 93%);
}

.container {
    display: flex;
}

section {
    padding: 3rem;
}

.subscription, .advantages {
    width: 50%;
}

h1 {
    font-size: 2rem;
    font-weight: 700;
    color: hsl(179, 61%, 44%);
    margin-bottom: 1.5rem;
}

h2 {
    font-size: 1.3rem;
    font-weight: 700;
}

/* Introduction */

.introduction {
    background-color: white;
}

.introduction h2 {
    color: hsl(71, 73%, 54%);
    margin-bottom: 1rem;
}

.introduction p:first-of-type{
    margin-bottom: 1rem;
}

.introduction p {
    color: hsl(218, 22%, 67%);
}

.subscription {
    background-color: hsl(179, 61%, 44%);
}

.advantages {
    background-color: hsl(179, 47%, 52%);
}

/* Subscription */

.subscription h2 {
    margin-bottom: 2rem;
}

.subscription, a {
    color: white;
}

.signUpLink {
   margin-top: 2rem;
   text-align: center;
   background-color: hsl(71, 73%, 54%);
   padding: 1rem;
   border-radius: 0.3rem;
   border: 1px solid #3bb47e;
   box-shadow: 5px 5px 5px hsla(0, 0%, 0%, 0.2);
}

a {
    font-weight: 700;
    text-decoration: none;
}

span {
    font-size: 2rem;
    vertical-align: middle;
    margin-right: 0.8rem;
}

.subscription p {
    margin-bottom: 1rem;
}

/* Advantages */

.advantages {
    color: white;
}

.advantages h2 {
    margin-bottom: 2rem;
}

li {
    margin-top: 0.5rem;
}

/* Footer */

footer {
    margin-top: 2rem;
    font-size: 0.8rem;
    text-align: center;
  }

  .attribution a {
    color: hsl(228, 45%, 44%);
  }

/* Mobile */

@media screen and (max-width: 1050px) {
    
    main {
        max-width: 60%;
    }
    
    .container {
        display: block;
        width: 100%;
    }

    section {
        padding: 1.8rem;;
    }

    .subscription, .advantages, .introduction {
        width: 100%;
    }
}